transformers==4.46.1
evaluate==0.4.3
datasets==3.1.0
gradio==5.4.0
gradio_client==1.4.2
accelerate==1.1.0
bitsandbytes==0.44.1
huggingface_hub==0.26.2
jiwer==3.0.5
pillow==11.0.0
tensorboard==2.18.0
sentencepiece==0.2.0
sacremoses=0.1.1